# Dirs to ignore
auto-save-list/
elpa/
transient/
etc/
var/

# Other random dirs that somehow end up here
games/
tree-sitter/
undo-foo-session/
snippets/

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
#*

# Undo-tree save-files
*.~undo-tree

# Org DB files
*.db

# Misc files
history
projects
bookmarks
org-roam.db
projectile-bookmarks.eld
forge-database.sqlite
